[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cereus/Desktop/Screenshot at 2022-04-09 00-53-20.png]
row=4
col=0

[/home/cereus/Desktop/simplescreenrecorder-2022-03-19_01.09.58.mp4]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/cereus]
row=2
col=0

